@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Roboto&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 27, 41);
  font-family: "Orbitron", sans-serif;
}

.App {
  background-color: white;
  width: 500px;
  height: 550px;
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  box-shadow: 5px 10px;
}

.calculator {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(104, 104, 104);
  height: 90%;
  padding: 15px;
  border-radius: 5%;
  border: 2px solid lightgray;
}

.outputBox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  width: 400px;
  min-height: 75px;
  background-color: lightgrey;
  padding: 0px 10px;
  border-radius: 10%;
  border: 5px solid black;
}

.output{
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 40%;
}

.buttonLayout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: white;
  color: black;
  height: 70px;
  border-radius: 10%;
  box-shadow: 2px 4px;
  margin: 5px;
  font-size: 35px;
  transition: 0.1s;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
  background-color: rgb(199, 197, 197);
}

button:active {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.button-C{
  background-color: orange;
}

.button-0{
  width:50px;
  font-size: 20px;
  height: 70px;
  margin-right: 2px;
}
.button-1{
  width:50px;
  height: 70px;
  margin-left: 1px;
  margin-left: 1px;
}
.button-2{
  width:50px;
  height: 70px;
  margin-left: 1px;
  margin-left: 1px;
}
.button-3{
  width:50px;
  height: 70px;
  margin-left: 1px;
  margin-left: 1px;
}
.button-4{
  width:50px;;
  height: 70px;
  margin-left: 1px;
  margin-left: 1px;
}
.button-5{
  width:50px;
  height: 70px;
  margin-left: 1px;
  margin-left: 1px;
}
.button-6{
  width:50px;
  height: 70px;
  margin-left: 1px;
  margin-left: 1px;
}
.button-10{
background-color: orange;
}
.button-20{
  width:60px;
  height: 70px;
}
.button-21{
  width:60px;
  height: 70px;
}
.button-22{
  width:60px;
  height: 70px;
}
